@model TestGeneratorMvc.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "col-md-6 form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(null, htmlAttributes: new { @class = "text-danger"});

    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "form-control", @placeholder = "Enter your user name" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control", @placeholder = "Enter your password" })
    </div>
    <div  class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "form-control", @placeholder = "Confirm your password" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success pull-right" value="Register" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/main")
}
